<!DOCTYPE html>
<html lang="en">
<head>
        
</head>
<body>
        <div class="App">
        </div>

        <script type="text/babel">
                class App extends React.Component {
                        render() {
                                return (
                                        <div>
                                                <h1>React App</h1>
                                        </div>
                                );
                        }
                }
                ReactDOM.render(<App />, document.querySelector('.App'));
        </script>
</body>
</html>