<!DOCTYPE html>
<html lang="es">

<head>
  <%- include(info_pagina.subir_a_raiz + 'header.ejs') %>
  <title>Portafolio</title>
  <script src="portafolio_proyectos.jsx"></script>
</head>

<body>
  <style>
    .wave1 {
      background: url('/SVG/wave1.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .wave2 {
      background: url('/SVG/wave2.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .video-de-youtube {
      display: inline-block;
      width: 200px;
      margin: 10px;

      .titulo {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
      }

      .contenedor-de-imagen-de-video-de-youtube {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;

        & img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          top: 0;
          left: 0;
        }

        & .hover {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 50px;

          &:hover {
            display: flex;
            opacity: 1;
          }
        }
      }

    }
  </style>

  <div class="App">
  </div>

  <script type="text/babel">

    class App extends React.Component {
                render() {
                        return (
                                <ThemeProvider theme={darkTheme}>
                                        <CssBaseline />
                                        <HeaderMenu />
                                                <div className="contenedor-con-padding wave2">
                                                        <ul>
                                                                <h1>
                                                                        Proyectos
                                                                </h1>
                                                                <li>
                                                                                Algoritmos
                                                                        <ul>
                                                                                <ItemProyecto titulo="Force many body" url="/javascript/algoritmos/force-many-body"/>
                                                                                <ItemProyecto titulo="Juego de la vida de Conway" url="/javascript/algoritmos/juego-de-la-vida-conway"/>
                                                                                <ItemProyecto titulo="Liquido Simulación (Con ley de Hooke)" url="/javascript/algoritmos/liquido-ley-de-hooke"/>
                                                                                <ItemProyecto titulo="Método Simplex" url="/javascript/algoritmos/metodo-simplex"/>
                                                                                <ItemProyecto titulo="Regresión Lineal" url="/javascript/algoritmos/regresion-lineal"/>
                                                                                <ItemProyecto titulo="t-SNE" url="/javascript/algoritmos/t-SNE"/>
                                                                        </ul>
                                                                </li>
                                                                <li>
                                                                        Aplicativos
                                                                        <ul>
                                                                                <ItemProyecto titulo="Cadenas de markov" url="/javascript/aplicativos/cadenas-de-markov"/>
                                                                                <ItemProyecto titulo="Calculadora" url="/javascript/aplicativos/calculadora"/>
                                                                                <ItemProyecto titulo="Distribución de Poisson" url="/javascript/aplicativos/distribucion-de-poisson"/>
                                                                                <ItemProyecto titulo="Grafos" url="/javascript/aplicativos/grafos"/>
                                                                                <ItemProyecto titulo="MIDI" url="/javascript/aplicativos/MIDI"/>
                                                                                <ItemProyecto titulo="Simulador de dados" url="/javascript/aplicativos/simulador-de-dados"/>
                                                                                <ItemProyecto titulo="Temporizador tipo moneda" url="/javascript/aplicativos/temporizador-tipo-moneda"/>
                                                                        </ul>
                                                                </li>
                                                                <li>
                                                                        Estructura de datos
                                                                        <ul>
                                                                                <ItemProyecto titulo="Arboles binarios (Recorridos)" url="/javascript/estructura-de-datos/arboles-binarios-recorridos"/>
                                                                                <ItemProyecto titulo="Arboles binarios (Torres de Hanoi)" url="/javascript/estructura-de-datos/arboles-binarios-torres-de-hanoi"/>
                                                                        </ul>
                                                                </li>
                                                                <li>
                                                                        Juegos
                                                                        <ul>
                                                                                <ItemProyecto titulo="Buscaminas" url="/javascript/juegos/buscaminas"/>
                                                                                <ItemProyecto titulo="Flappy bird" url="/javascript/juegos/flappy-bird"/>
                                                                                <ItemProyecto titulo="Juego de preguntas" url="/javascript/juegos/juego-de-preguntas"/>
                                                                                <ItemProyecto titulo="Juego de preguntas v2" url="/javascript/juegos/juego-de-preguntas-v2"/>
                                                                                <ItemProyecto titulo="Juego de selección de conceptos" url="/javascript/juegos/juego-de-seleccion-de-conceptos"/>
                                                                                <ItemProyecto titulo="Salocin" url="/javascript/juegos/juego-salocin"/>
                                                                                <ItemProyecto titulo="Memorama" url="/javascript/juegos/memorama"/>
                                                                                <ItemProyecto titulo="Pong solitario" url="/javascript/juegos/pong-solitario"/>
                                                                                <ItemProyecto titulo="Tetris" url="/javascript/juegos/tetris"/>
                                                                        </ul>
                                                                </li>
                                                                <li>
                                                                        p5.js
                                                                        <ul>
                                                                                <ItemProyecto titulo="Animación de peces" url="/javascript/p5.js/animacion-de-peces"/>
                                                                                <ItemProyecto titulo="Árbol recursivo" url="/javascript/p5.js/arbol-recursivo"/>
                                                                                <ItemProyecto titulo="Ayuno intermitente" url="/javascript/p5.js/ayuno-intermitente"/>
                                                                                <ItemProyecto titulo="Juego de naves" url="/javascript/p5.js/computacion-grafica/23-juego-de-naves.html"/>
                                                                                <ItemProyecto titulo="Reloj" url="/javascript/p5.js/computacion-grafica/12-reloj.html"/>
                                                                                <ItemProyecto titulo="Espiral de Ulam" url="/javascript/p5.js/espiral-de-ulam"/>
                                                                                <ItemProyecto titulo="Estanque de peces" url="/javascript/p5.js/estanque-de-peces"/>
                                                                        </ul>
                                                                </li>
                                                        </ul>
                                                </div>
                                                <div className="contenedor-con-padding wave1">
                                                        <h1>
                                                                Videos de Youtube
                                                        </h1>
                                                        <div className="contenedor-de-videos-de-youtube d-flex-space-between">
                                                        </div>
                                                </div>
                                </ThemeProvider>
                        );

                        function ItemProyecto({titulo, url}) {
                                return (
                                        <li>
                                                <Proyecto titulo={titulo} url={url}/>
                                        </li>
                                )
                        }

                        function Proyecto({titulo, url}) {
                                return (
                                        <React.Fragment>
                                                <Button onClick={() => ventana_flotante["nueva-ventana"]({
                                                        titulo_texto: titulo,
                                                        html: `
                                                                <iframe 
                                                                        width="100%" 
                                                                        height="100%" 
                                                                        src="${url}" 
                                                                        frameborder="0" 
                                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                                                        allowfullscreen
                                                                ></iframe>`
                                                })}>
                                                        {titulo}
                                                </Button>
                                                <Button href={url} target="_blank">
                                                        <i class="fa-solid fa-square-arrow-up-right"></i>
                                                </Button>
                                        </React.Fragment>
                                )
                        }
                }
        }

        ReactDOM.render(<App />, document.querySelector('.App'));

        socket.emit("Obtener todos los videos");

        socket.on("Todos los videos", function(videos){
                var contenedor = document.querySelector(".contenedor-de-videos-de-youtube");
                let lst = []
                videos.sort(function(a, b){
                        if (a.datePublished < b.datePublished) {
                                return 1;
                        }
                        if (a.datePublished > b.datePublished) {
                                return -1;
                        }
                        return 0;
                });
                console.log(videos);
                videos.forEach(function(video){
                        lst.push(<VideoDeYoutube video={video}/>);
                        function VideoDeYoutube(props){
                                return (
                                        <div className="video-de-youtube">
                                                <div className="contenedor-de-imagen-de-video-de-youtube" onClick={() => ventana_flotante["nueva-ventana"]({
                                                                titulo_texto: props.video.title,
                                                                html: `
                                                                <iframe 
                                                                        width="100%" 
                                                                        height="100%" 
                                                                        src="https://www.youtube.com/embed/${props.video.videoId}" 
                                                                        frameborder="0" 
                                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                                                        allowfullscreen
                                                                ></iframe>`
                                                        })}>
                                                        <img src={props.video.thumbnailUrl} loading="lazy"/>
                                                        <div className="hover">
                                                                <i className="fas fa-play"></i>
                                                        </div>
                                                </div>
                                                <div className="titulo" title={props.video.title}>
                                                        {props.video.title}
                                                </div>
                                                {props.video.datePublished}
                                        </div>
                                );
                        }
                });

                ReactDOM.render(lst, contenedor);
        });

        updateResponsive();
  </script>
</body>

</html>