<!DOCTYPE html>
<html lang="es">

<head>
  <%- include(info_pagina.subir_a_raiz + 'header.ejs') %>
  <title>Portafolio</title>
</head>

<body>
  <style>
  </style>

  <div class="App">
  </div>

  <script type="text/babel">
        class App extends React.Component {
                render() {
                        return (
                                <ThemeProvider theme={darkTheme}>
                                        <CssBaseline />
                                        <HeaderMenu />
                                </ThemeProvider>
                        );
                }
        }

        ReactDOM.render(<App />, document.querySelector('.App'));

        updateResponsive();
  </script>
</body>

</html>